#filter {
    line-height:30px;
    background-color:#eeeeee;
    height:560px;
    width:20%;
    float:left;
    padding:5px;
 
}
#section {
    width:75%;
 	height:560px;
    float:left;
    padding:5px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
	height:25px;
}

#carousel-indicators {
  bottom:-150px;
}
