#section {
    width:95%%;
 	height:530px;
    float:left;
    padding:1px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:1px; 
	height:20px;
}

 #map {
    height: 100%;
}